# Odoo Configuration
DB_NAME=your-odoo-database
UID=your-user-id
API_KEY=your-odoo-api-key

# WordPress Configuration
WP_USERNAME=your-wp-username
WP_PASSWORD=your-wp-app-password

# Auth Configuration
AUTH_TOKEN=your-bearer-token
